/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/** Header navbar */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap);

/** Bootstrap overrides */
#bootstrap-overrides .navheader-text, .dropdown-item {
    color: white;
    font-family: Menlo, Monaco;
}

#bootstrap-overrides .dropdown-menu {
    background: black;
}

#bootstrap-overrides .nav-item {
    padding-left: 1rem;
}

#bootstrap-overrides .navbar-toggler {
    background: white;
}

/** Navbar */
.navbar {
    background: black;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* HTML
-------------------------------------------------- */
html {
    font-size: 14px;
    background: black;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
body {
  /* Margin bottom by footer height */
  background: black;
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/** Index page */
.index-container {
    padding-left: 5%;
    padding-right: 5%;
    text-align: right;
    display: flex;
    flex-direction: row;
}

.index-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5%;
}

.index-hi {
    color: white;
    font-size: 3vw;
    text-align: left;
}

.index-name {
    width: 5em;
    color: white;
    text-align: left;
    font-size: 8vw;
}

.index-description {
    font-family: Helvetica, 'Times New Roman', Times, serif;
    width: 85%;
    color: white;
    text-align: left;
    font-size: 2vw;
}

.white-hyperlink {
    color: white;
}

.microsoft:hover {
    color: #4599ff;
}


.amazon:hover {
    color: #ffad0a;
}


.rockwell:hover {
    color: #ff4a4a;
}

/** Other pages */
.page-container {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    align-items: center;
    align-content: center;
    color: white;
}

.center-pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bootstrap-overrides .centered {
    text-align: center;
}

/** Icons */
.icon_group {
    display: flex;
    flex-direction: column;
    left: 1rem;
    bottom: 80px;
    position: fixed;
    z-index: 1;
}

.icon_container {
    font-family: 'Courier Bold', Courier, monospace;
    display: flex;
    flex-direction: row;
    color: white;
}

.icon {
    height: 40px;
    width: 40px;
    border: 3px solid white;
    border-radius: 50%;
    color: white;
    display: inline-block;
    vertical-align: middle;
    align-content: center;
    text-align: center;
    line-height: 32px;
    margin-top: 6px;
    z-index: 10;
    -moz-box-shadow: 4px 0px 20px rgba(68, 68, 68, 0.4);
    -webkit-box-shadow: 4px 0px 20px rgba(68, 68, 68, 0.4);
    box-shadow: 4px 0px 20px rgba(68, 68, 68, 0.4);
    cursor: pointer;
}

.resume:hover,
.resume:active {
    background-color: #ffbb00e3;
}

.github:hover,
.github:active {
    background-color: #2F4F4F;
}

.linkedin:hover,
.linkedin:active {
    background-color: #0e76a8;
}

.gmail:hover,
.gmail:active {
    background-color: #cb2027;
}

/* The typing effect */
@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 12rem;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right: .15em solid orange;
    }

    to {
        border-right: .15em solid transparent;
    }
}
@keyframes visible-typewriter {
    from {
        width: 0;
    }

    to {
        width: 5em;
    }
}

.typewriter {
    color: white;
    display: none;
    padding-left: 6px;
    padding-top: 11px;
    font-size: 18px;
}

.icon:hover + .typewriter {
    display: block;
    font-family: "Anonymous Pro";
    text-align: left;
    overflow: hidden;
    animation: typewriter 1s steps(20) 1 normal both;
}

.visible-typewriter {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    padding-right: .5em;
    border-right: hidden; /* The typwriter cursor */
    animation-name: visible-typewriter, blinkTextCursor;
    animation-duration: 2.5s, .8s;
    animation-iteration-count: 1, 4;
}

/** Projects */
.project-box {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.project {
    border-radius: 25px;
    border: 2px solid #73AD21;
    border-color: white;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    table-layout: fixed;
    align-items: center;
}

.project-text {
    width: 100%;
    display: block;
}

.project-row {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    align-content: center;
}

#bootstrap-overrides .project-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.project-column {
    text-align: center;
    align-content: center;
    align-items: center;
    width: 50%;
}

.project-image {
    height: auto;
    width: 90%;
}

.project-button-box {
    
}

/** Table stuff */
.table {
    color: #00e317;
    text-align: left;
    overflow: hidden;
    background-color: #2e2e2e;
    font-family: Helvetica, monospace
}
