@page
@model ConstructionModel
@{
    ViewData["Title"] = "Construction";
}

<div class="text-center">
    <h1 class="display-4">"@Model.PageType" is Under Construction</h1>
    <p>This page is under construction as of @ViewData["TimeStamp"] and who knows when it will be done.</p>
</div>
