@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="index-container">
        <div>
            <div class="index-hi">Hi, my name is</div>
            <div class="index-name visible-typewriter"><b>Daniel Luo</b></div>
            <p class="index-description">
                <br>
                I'm an aspiring software engineer graduating from CWRU in December 2020.<br>
                I have software engineering experience at
                <a class="white-hyperlink microsoft" style="text-decoration: underline;" href="https://microsoft.com">Microsoft</a>, 
                <a class="white-hyperlink amazon" style="text-decoration: underline;" href=""https://amazon.com">Amazon</a>, 
                and <a class="white-hyperlink rockwell" style="text-decoration: underline;" href="https://rockwellautomation.com">Rockwell</a>.<br>
                Check out my projects and experiences using the tabs above!
            </p>
        </div>
        <div class="index-pic">
            <img src="images/profile.png" style="height: 15em; width: 15em;" />
        </div>
    </div>