@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1>Daniel's Home Page</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <div class="icon_group">
            <a class="icon_container" href="https://drive.google.com/open?id=1oiAOoc2e_N0v-425_tXRUZfEOpCfdTfM" target="_blank" style="text-decoration:none;">
                <div class="icon resume">
                    <img src="~/images/resume.png" style="padding-top: 1px; padding-left: 2px; height: 24px; width: 24px;" />
                    <div class="background_circle"></div>
                </div>
                <div class="typewriter"><b>Resume</b></div>
            </a>

            <a class="icon_container" href="https://www.github.com/dan1510123" target="_blank" style="text-decoration:none;">
                <div class="icon github">
                    <img src="~/images/github.png" style="padding-top: 3px; height: 30px; width: 30px;" />
                    <div class="background_circle"></div>
                </div>
                <div class="typewriter"><b>Github</b></div>
            </a>
            <a class="icon_container" href="https://www.linkedin.com/in/danielluo8" target="_blank" style="text-decoration:none;">
                <div class="icon linkedin">
                    <img src="~/images/linkedin.png" style="padding-top: 1px; height: 30px; width: 30px;" />
                    <div class="background_circle"></div>
                </div>
                <div class="typewriter"><b>Linkedin</b></div>
            </a>
            <a class="icon_container" href="mailto:dyl24@case.edu" target="_blank" style="text-decoration:none;">
                <div class="icon gmail">
                    <img src="~/images/gmail.png" style="padding-top: 1px; height: 30px; width: 30px;" />
                    <div class="background_circle"></div>
                </div>
                <div class="typewriter"><b>Email</b></div>
            </a>
        </div>
    </div>

