@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="index-container">
        <div>
            <div class="index-hi">Hi, my name is</div>
            <div class="index-name visible-typewriter"><b>Daniel Luo</b></div>
            <p class="index-description">
                <br>
                I'm an aspiring software engineer graduating from CWRU in December 2020.<br>
                I have software engineering experience at
                <a class="white-hyperlink microsoft" style="text-decoration: underline;" href="https://microsoft.com">Microsoft</a>, 
                <a class="white-hyperlink amazon" style="text-decoration: underline;" href=""https://amazon.com">Amazon</a>, 
                and <a class="white-hyperlink rockwell" style="text-decoration: underline;" href="https://rockwellautomation.com">Rockwell</a>.<br>
                Check out my projects and experiences using the tabs above!
            </p>
        </div>
        <div class="index-pic">
            <img src="images/profile.png" style="height: 15em; width: 15em;" />
        </div>
    </div>
    <div class="icon_group">
        <a class="icon_container" href="https://drive.google.com/open?id=1oiAOoc2e_N0v-425_tXRUZfEOpCfdTfM" target="_blank" style="text-decoration:none;">
            <div class="icon resume">
                <img src="~/images/resume.png" style="padding-top: 1px; padding-left: 2px; height: 24px; width: 24px;" />
                <div class="background_circle"></div>
            </div>
            <div class="typewriter"><b>Resume</b></div>
        </a>

        <a class="icon_container" href="https://www.github.com/dan1510123" target="_blank" style="text-decoration:none;">
            <div class="icon github">
                <img src="~/images/github.png" style="padding-top: 3px; height: 30px; width: 30px;" />
                <div class="background_circle"></div>
            </div>
            <div class="typewriter"><b>Github</b></div>
        </a>
        <a class="icon_container" href="https://www.linkedin.com/in/danielluo8" target="_blank" style="text-decoration:none;">
            <div class="icon linkedin">
                <img src="~/images/linkedin.png" style="padding-top: 1px; height: 30px; width: 30px;" />
                <div class="background_circle"></div>
            </div>
            <div class="typewriter"><b>Linkedin</b></div>
        </a>
        <a class="icon_container" href="mailto:dyl24@case.edu" target="_blank" style="text-decoration:none;">
            <div class="icon gmail">
                <img src="~/images/gmail.png" style="padding-top: 1px; height: 30px; width: 30px;" />
                <div class="background_circle"></div>
            </div>
            <div class="typewriter"><b>Email</b></div>
        </a>
    </div>

