<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PersonalWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body id="bootstrap-overrides">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand navheader-text" asp-area="" asp-page="/Index"><b>DL</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link navheader-text" asp-area="" asp-page="/About">01.About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle navheader-text" asp-page="/Projects">02.Projects<b class="caret"></b></a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-fragment="Personal" asp-page="/Projects">Personal Projects</a></li>
                                <li><a class="dropdown-item" asp-fragment="School" asp-page="/Projects">School Projects</a></li>
                                <li><div class="dropdown-divider"></div></li>
                                <li><a class="dropdown-item" asp-page="/Projects">All Projects</a>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle navheader-text" asp-page="/Experiences">03.Experiences<b class="caret"></b></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-fragment="Internships" asp-page="/Experiences">Internships</a>
                                <a class="dropdown-item" asp-fragment="Work" asp-page="/Experiences">Other Work</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-page="/Experiences">All Experience</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navheader-text" asp-area="" asp-page="/Contact">04.Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>

    <div class="icon_group">
        <a class="icon_container" href="https://drive.google.com/open?id=1oiAOoc2e_N0v-425_tXRUZfEOpCfdTfM" target="_blank" style="text-decoration:none;">
            <div class="icon resume">
                <img src="~/images/resume.png" style="padding-top: 1px; padding-left: 2px; height: 24px; width: 24px;" />
                <div class="background_circle"></div>
            </div>
            <div class="typewriter"><b>Resume</b></div>
        </a>

        <a class="icon_container" href="https://www.github.com/dan1510123" target="_blank" style="text-decoration:none;">
            <div class="icon github">
                <img src="~/images/github.png" style="padding-top: 3px; height: 30px; width: 30px;" />
                <div class="background_circle"></div>
            </div>
            <div class="typewriter"><b>Github</b></div>
        </a>
        <a class="icon_container" href="https://www.linkedin.com/in/danielluo8" target="_blank" style="text-decoration:none;">
            <div class="icon linkedin">
                <img src="~/images/linkedin.png" style="padding-top: 1px; height: 30px; width: 30px;" />
                <div class="background_circle"></div>
            </div>
            <div class="typewriter"><b>Linkedin</b></div>
        </a>
        <a class="icon_container" href="mailto:dyl24@case.edu" target="_blank" style="text-decoration:none;">
            <div class="icon gmail">
                <img src="~/images/gmail.png" style="padding-top: 1px; height: 30px; width: 30px;" />
                <div class="background_circle"></div>
            </div>
            <div class="typewriter"><b>Email</b></div>
        </a>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - DanielLuo - <a asp-area="" asp-page="/Contact">Contact</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
