<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PersonalWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body id="bootstrap-overrides">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand navheader-text" asp-area="" asp-page="/Index"><b>DL</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link navheader-text" asp-route-pagetype="About" asp-area="" asp-page="/Construction">01.About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle navheader-text" asp-route-pagetype="Projects" asp-page="/Construction" >02.Projects<b class="caret"></b></a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-route-pagetype="Personal Projects" asp-page="/Construction">Personal Projects</a></li>
                                <li><a class="dropdown-item" asp-route-pagetype="School Projects" asp-page="/Construction">School Projects</a></li>
                                <li><div class="dropdown-divider"></div></li>
                                <li><a class="dropdown-item" asp-route-pagetype="All Projects" asp-page="/Construction">All Projects</a>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle navheader-text" asp-route-pagetype="Experiences" asp-page="/Construction" >03.Experiences<b class="caret"></b></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-route-pagetype="Internships" asp-page="/Construction">Internships</a>
                                <a class="dropdown-item" asp-route-pagetype="Other Work" asp-page="/Construction">Other Work</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-route-pagetype="All Experience" asp-page="/Construction">All Experience</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navheader-text" asp-area="" asp-page="/Contact">04.Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - DanielLuo - <a asp-area="" asp-page="/Contact">Contact</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
